might @font-face {
  font-family: OpenSans;
  src: url('../font/OpenSans-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: OpenSans;
  src: url('../font/OpenSans-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: OpenSans;
  src: url('../font/OpenSans-Light.ttf');
  font-weight: 100;
}

.light {
  font-weight: lighter;
}

.bold {
  font-weight: bold;
}

.spacer {
  height: 1px;
  width: 100%;

  background-color: #3d4451;
}

body {
  font-size: 14px;
  line-height: 1.42857143;
}

* {
  font-family: OpenSans;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


#header {
  position: relative;
  width: 100%;
  height: 65vh;
}

#headerImageContainer {
  z-index: -1;
  position: absolute;
  overflow: hidden;
  width: inherit;
  height: inherit;
}

#headerImage {
  background-image: url('../img/keyboard.jpg');
  margin-left: -50px;
  width: 120%;
  height: inherit;
  background-size: cover;

  /* transform: rotate(5deg); */
  transform-origin: bottom right;
}

.topNav {
  float: right;
  color: white;
  list-style-type: none;
  margin: 0;
  position: relative;
  z-index: 100;
}

.topNav li {
  float: left;
  margin: 10px 30px;
  font-weight: bold;
  font-size: 1.4em;
  transition: all .3s;
  cursor: pointer;
}

.topNav li::before, .topNav li::after {
  display: inline-block;
  width: 0;
  overflow: hidden;
  line-height: 0.9em;
  content: '-';
  transition: all .3s;
}

.topNav li:hover {
    margin: 10px 23px;
}

.topNav li:hover::before, .topNav li:hover::after {
  width: 7px;
}

#canvasHeaderContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

#pictureMe {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 100%;
  width: 20%;
  max-width: 300px;
  border: 5px solid white;
}

#pictureMe:before{
	content: "";
	display: block;
	padding-top: 100%;
}

#pictureMe span {
  position: absolute;
  left: 50%;
  top: 50%;
  color: white;
  font-size: 14vh;
  transform: translateY(-50%) translateX(-50%);
}

article {
  margin: 50px 0;
  display: inline-block;
  width: 100%;
}

article:last-child {
  margin-bottom: 0;
  padding-bottom: 50vh;
}

#content {
  font-size: 1.8em;
  color: #3d4451;
}

.welcomeBanner {
  position: relative;
  display: inline-block;
  background-color: #3861b1;
  padding: 3px 15px;
  font-weight: bold;
  color: #fff;
  letter-spacing: -1px;
}

.welcomeBanner::after {
  content: '';
  position: absolute;
  left: 10px;
  bottom: -4px;
  width: 30px;
  height: 30px;
  background-color: #3861b1;
  transform: rotateZ(63deg);
  z-index: -1;
}

.intro {
  word-spacing: 7px;
  margin-top: 15px;
  margin-bottom: 50px;
}

.intro>span {
  word-spacing: normal;
  font-size: 1.8em;
}

.intro>p {
  word-spacing: normal;
  font-size: 1.3em;
}

#infoList {
  margin: 50px 0;
}

#infoList>ul {
  list-style-type: none;
}

#infoList>ul>li {
  margin: 20px 0;
  display: inline-block;
  width: 100%;
}

#infoList>ul>li:first-child {
  margin: 0 0 20px 0;
}

#infoList>ul>li:last-child {
  margin: 20px 0 0 0;
}


#infoList .list-head {
  font-weight: bold;
}

#infoList span {
  font-weight: 100;
}

#infoList a {
  color: #3d4451;;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all .3s;
  font-size: 1em;
}

#infoList a:hover {
  border-bottom-color: #3d4451;;
}


.welcomeText {
  margin: 75px 0;
  text-align: center;
  padding: 0 10%;

  font-weight: 100;
}

#downloadButton {
  margin: 75px auto;
  max-width: 300px;
  width: 100%;
  text-align: center;
  padding: 10px 70px;
  border: 1px solid #3d4451;
  cursor: pointer;
  transition: all .3s;
}

#downloadButton>span:nth-child(1) {
  display: block;
  font-size: 1.1em;
}

#downloadButton>span:nth-child(2) {
  margin-top: -10px;
  display: block;
  font-weight: 100;
  font-size: 0.8em;
}

#downloadButton:hover {
  color: #fff;
  background: #3d4451;
}

.caption {
  margin: 50px 0;
  background-image: url('../img/photo-spacer.jpg');
  width:100%;
  height: 300px;
  clear: both;

  background-size: cover;
  background-position: center;
}

.caption::before {
  position: absolute;
  left: 0;
  content: '';
  height: 300px;
  width: 100%;
  background: rgba(0,0,0,0.5);
}

.caption>div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.caption div {
  color: #fff;
}

.caption>div>div:nth-child(1) {
  font-size: 1.8em;
  font-weight: bold;
}

.caption>div>div:nth-child(2) {
  font-weight: 100;
}

.section {
  padding: 75px 0;
  float: none;
}

.sectionHeader {
  font-size: 35px;
  letter-spacing: -.5px;
  font-weight: bold;
}

.fancyList {
  margin: 150px 0;
}

#experience {
  background-color: #3861b1;
  color: white;
}

#experience .spacer {
  background: #fff;
}

#skillCircles {
  width: 100%;
}

.skillText {
  margin: 50px 0;
  font-weight: 100;
  font-size: 1em;
}

.skillMostUsed {
  font-size: 1em;
  font-weight: 100;
  margin-bottom: 40px;
}

.circle {
  fill: none;;
  stroke: #646464;
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.skillName {
  text-align: center;
  font-weight: 100;
}

.circle>svg {
  display: block;
  margin: 0 auto;
  width: 180px;
  height: 180px;
}

.circle path:first-child {
  fill: none;
  stroke: #dadada;
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.circle path {
  fill: none;
  stroke: #3861b1;
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

#contact.caption {
    background-image: url('../img/mail.jpg');
}

.form {
  margin: 100px 0;
  display: inline-block;
}

.form .textarea {
  display:inline-block;
  min-height: 250px;
  width: 100%;
  resize: vertical;
  font-size: 1em;
  position: relative;
}

.form .inputWithLabel {
  float: left;
}

.form .inputWithLabel:nth-child(2) {
    float: right;
}

.form .inputWithLabel label {
  font-weight: lighter;
  font-size: 0.9em;
}

.form .inputWithLabel label::after {
  content: 'yourinput';
  visibility: hidden;
}

.form input, .form .textarea {
  width: 100%;
  font-weight: 100;
  font-size: 0.6em;
  padding: 10px 15px;
  border: 1px solid #cccccc;
}

.form .area {
  margin: 25px 0;
}

#sendButton {
  top: 20px;
  position: relative;
  width: 250px;
  height: 65px;
  color: white;
  text-align: center;
  line-height: 60px;
  font-size: 1em;
  cursor: pointer;
  background: #3861b1;
  border: 1px solid #3861b1;

  clear: both;
  font-weight: lighter;
}

#sendButton:hover {
  color: #3861b1;
  background: #fff;
}

.bg-danger, .bg-success {
  margin-top: -11px;
  font-size: 18px;
  line-height: 53px;
  font-weight: lighter;
  max-height: 0;
  transition: all 0.3s;
  overflow: hidden;
  min-height: 0px;
}

#emaildirect {
  background: #3861b1;
  color: white;
}

#emaildirect .spacer {
  background: white;
}

#emaildirect a {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all .3s;
}

#emaildirect a:hover {
  border-bottom-color: #fff;
}

.emailAddress{
  text-align: center;
  font-size: 5vw;
  margin: 150px 0;
}

.emailText {
  font-weight: 100;
  text-align: center;
  padding: 0 10%;
}

#footer {
  position: relative;
  width: 100%;
  height: 35vh;
  margin-top: -35vh;
}

#footerImageContainer {
  position: absolute;
  overflow: hidden;
  width: inherit;
  height: inherit;
}

#footerImage {
  background-image: url('../img/keyboard.jpg');
  height: inherit;
  background-size: cover;
  background-position: 0 -550px;
  /* transform: rotate(-5deg); */
  transform-origin: bottom right;
}

#backTop {
  position: relative;
  top: 50%;
  font-weight: bold;
  text-align: center;
  color: #fff;
  font-size: 1.8em;
  cursor: pointer;
}

#backTop::before, #backTop::after {
  display: inline-block;
  width: 0;
  overflow: hidden;
  line-height: 0.9em;
  content: '-';
  transition: all .3s;
}

#backTop:hover::before, #backTop:hover::after {
  width: 15px;
}

.cr {
  position: absolute;
  bottom: 10px;
  right: 16px;
  font-weight: 100;
  font-size: 0.8em;
  color: #f1f1f1;
}

.col-4, .col-6, .col-8, .col-12,
.col-offset-2,
.col-mobile-10, .col-mobile-12,
.col-mobile-offset-1 {
  float: left;
}

.col-offset-2 {
  margin-left: 16.666%;
}

.col-4 {
  width: 33.333%;
}

.col-6 {
  width: 50%;
}

.col-8 {
  width: 66.666%;
}

.col-12 {
  width: 100%;
}

.col-6.inputWithLabel {
  width: calc(50% - 10px);
}

@media (min-width: 992px) {
  .col-md-4 {
    width: 33.333%;
  }
}

@media(max-width: 768px) {
  .col-offset-mobile-1 {
    margin-left: 8.333%;
  }

  .col-mobile-10 {
    width: 83.333%;
  }

  .col-mobile-12 {
    width: 100%;
  }

  #header {
    height: 55vw;
  }

  #pictureMe {
    width: 30%;
    top: 50%;
  }

  #pictureMe span {
    font-size: 10vh;
  }

  .topNav li {
    margin: 10px 8px;
  }

  .sectionHeader {
    text-align: center;
  }

  .form input {
    width: 100%;
    float: left;
  }

  #sendButton {
    width: 100%;
  }
}

@media(min-width: 769px) {

  .fadeIn {
    margin-left: 0;
    margin-right: 0;
    transition: all .5s;
    opacity: 1;
  }

  .fadeRight {
    margin-right: -20px;
    opacity: 0;
  }

  .fadeLeft {
    margin-left: -20px;
    opacity: 0;
  }
}
