<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ static_url('css/material-icons.css') }}" />
    <link rel="stylesheet" href="{{ static_url('css/style.css') }}" />
    <link rel="stylesheet" href="{{ static_url('css/extras.css') }}" />
    <style>
      #headerImage {
        background-image: url("{{ static_url('img/keyboard-compressed.jpg') }}");
      }

      #footerImage {
        background-image: url("{{ static_url('img/keyboard-compressed.jpg') }}");
      }

      .caption {
          background-image: url("{{ static_url('img/photo-spacer-compressed.jpg') }} ");
      }

      #contact.caption {
          background-image: url("{{ static_url('img/mail-compressed.jpg') }}");
      }

    </style>
    <script>
      function decodeEmail() {
        var e = ['bjo', 'ern@frie', 'drichs1.de'];
        document.write('<a href="mailto:' + e.join('') + '">' + e.join('<!-- @Word@.de -->') + '</a>' );
      }
    </script>
  </head>
  <body>
    <div id="header">
      <div id="headerImageContainer">
        <div id="headerImage"></div>
      </div>
      <ul class="topNav">
        <li id="toAbout">ABOUT</li>
        <li id="toResume">RESUME</li>
        <li id="toSkills">SKILLS</li>
        <li id="toContact">CONTACT</li>
      </ul>
      <div id="pictureMe"></div>
    </div>
    <div id="content">
      <article id="about" class="col-offset-2 col-8">
        <div class="welcomeBanner">WELCOME</div>
        <div class="intro">
          <span class="light">I'm</span> <span class="bold">Björn Friedrichs</span>
          <p class="light">
            ICT Student and developer
          </p>
        </div>
        <div class="spacer"></div>
        <div id="infoList">
          <ul>
            <li>
              <span class="col-mobile-12 col-4 list-head">AGE</span><span id="age" class="col-mobile-12 col-8">20</span>
            </li>
            <li>
              <span class="col-mobile-12 col-4 list-head">LOCATION</span><span class="col-mobile-12 col-8">Germany, NRW</span>
            </li>
            <li>
              <span class="col-mobile-12 col-4 list-head">E-MAIL</span><span class="col-mobile-12 col-8"><script>decodeEmail()</script></span>
            </li>
            <li>
              <span class="col-mobile-12 col-4 list-head">PHONE</span><span class="col-mobile-12 col-8">On request</span>
            </li>
          </ul>
        </div>
        <div class="welcomeText">
          I'm Björn Friedrichs, ICT Student at the University of Duisburg-Essen
          and currently employed as a front-end developer.
          Well-versed in numerous programming languages including JavaScript, SQL, and PHP.
        </div>
        <div id="downloadButton">
          <span>
            Download
          </span>
          <span>
            my resume
          </span>
        </div>
      </article>

      <div class="caption">
        <div class="col-offset-2 col-8">
            <div>
              Resume
            </div>
            <div>
              Skills and experience.
            </div>
        </div>
      </div>

      <article id="education">
        <div class="section col-offset-2 col-8">
          <div class="sectionHeader">
            EDUCATION
          </div>
          <div class="spacer"></div>

          <ul class="fancyList">
            <div class="timeLine"></div>
            <li class="fadeIn fadeRight">
              <div class="entryHeader">
                <p>LISE-MEITNER GYMNASIUM</p>
                <p>August 2005 - March 2013</p>
              </div>
              <div class="entryContent">
                First year of G8 students (twelve instead of thirteen years of school),
                schools werent completely adapted yet which caused a bit of trouble in the early years.
                Taking maths and computer science as advanced courses was an easy choice and made the rest more bearable.
              </div>
            </li>
            <li class="fadeIn fadeLeft">
              <div class="entryHeader">
                <p>UNIVERSITY OF DUISBURG-ESSEN</p>
                <p>October 2013 - Now</p>
              </div>
              <div class="entryContent">
                After school it was obvious for me I was going to pursue computer science.
                I enrolled for my <a href="https://www.uni-due.de/de/studium/angebot.php?id=1" target="_blank">bachelor degree course</a>,
                because it not solely teaches about development but also business studies and
                how to manage a project.
              </div>
            </li>
          </ul>
        </div>
      </article>

      <article id="experience">
        <div class="section col-offset-2 col-8">
          <div class="sectionHeader">
            EXPERIENCE
          </div>
          <div class="spacer"></div>

          <ul class="fancyList white">
            <div class="timeLine"></div>
            <li class="fadeIn fadeRight">
              <div class="entryHeader">
                <p>FRONT END DEVELOPMENT</p>
                <p>October 2014 - Now</p>
              </div>
              <div class="entryContent">
                I started my job at <a href="http://greyrook.com/" target="_blank">Greyrook Entertainment</a> for financial support while im at university,
                it's a small but great team of software developers.
                From working there I've learned a lot about working in a team and development cycles in general.
              </div>
            </li>
            <li class="fadeIn fadeLeft">
              <div class="entryHeader">
                <p>SOFTWARE DEVELOPMENT PROJECT</p>
                <p>March 2015 - August 2015</p>
              </div>
              <div class="entryContent">
                One semester long <a href="http://sep.icb.uni-due.de/" target="_blank">software development project</a>:
                As a team of six we were to create a Java application based on the requirements of a simulated client.
                Really interesting experience working with everyone on the same level.
              </div>
            </li>
            <li class="fadeIn fadeRight">
              <div class="entryHeader">
                <p>VARIOUS PROJECTS</p>
                <p>-</p>
              </div>
              <div class="entryContent">
                During my free time I like to work on smaller scaled, (mostly) personal projects to get a grasp of how things work.
                Including OpenGl (WebGl), general C and C++, Android, and various others.
              </div>
            </li>
          </ul>
        </div>
      </article>
      <article id="skills">
        <div class="section col-offset-2 col-8">
          <div class="sectionHeader">
            SKILLS
          </div>
          <div class="spacer"></div>
          <div class="skillText">
            I'm constantly looking to improve my skills at programming
            and am also interested in various aspects of Design, especially in context of web development.
            Everyone has their own style, but a look left and right - be it only to evaluate or discuss - never hurts.
          </div>
          <div id="skillCircles">
            <div class="col-md-4 col-6 col-mobile-12 skillCircle">
              <div class="skillName">
                  PHP
              </div>
              <div class="circle">
                  <svg><path id="circle1_bg" /><path id="circle1" /></svg>
              </div>
            </div>
            <div class="col-md-4 col-6 col-mobile-12 skillCircle">
              <div class="skillName">
                  JavaScript
              </div>
              <div class="circle">
                  <svg><path id="circle2_bg" /><path id="circle2" /></svg>
              </div>
            </div>
            <div class="col-md-4 col-6 col-mobile-12 skillCircle">
              <div class="skillName">
                  Java
              </div>
              <div class="circle">
                  <svg><path id="circle3_bg" /><path id="circle3" /></svg>
              </div>
            </div>
            <div class="col-md-4 col-6 col-mobile-12 skillCircle">
              <div class="skillName">
                  SQL
              </div>
              <div class="circle">
                  <svg><path id="circle4_bg" /><path id="circle4" /></svg>
              </div>
            </div>
            <div class="col-md-4 col-6 col-mobile-12 skillCircle">
              <div class="skillName">
                  Python
              </div>
              <div class="circle">
                  <svg><path id="circle5_bg" /><path id="circle5" /></svg>
              </div>
            </div>
            <div class="col-md-4 col-6 col-mobile-12 skillCircle">
              <div class="skillName">
                  Design
              </div>
              <div class="circle">
                  <svg><path id="circle6_bg" /><path id="circle6" /></svg>
              </div>
            </div>
          </div>
        </div>
      </article>

      <div id="contact" class="caption">
        <div class="col-offset-2 col-8">
            <div>
              Contact
            </div>
            <div>
              I'm looking forward to hearing from you.
            </div>
        </div>
      </div>

      <article id="emailform">
        <div class="section col-offset-2 col-8">
          <div class="sectionHeader">
            USING THIS FORM
          </div>
          <div class="spacer"></div>

          <div id="form" class="form col-12">
            <div class="col-6 inputWithLabel">
              <label for="formName"></label>
              <input id="formName" type="text" placeholder="*">
            </div>
            <div class="col-6 inputWithLabel">
              <label for="formEmail"></label>
              <input id="formEmail" type="text" placeholder="*">
            </div>
            <div class="col-12 inputWithLabel">
              <label for="formMsg"></label>
              <textarea id="formMsg" class="textarea" contenteditable="true" placeholder="*"></textarea>
            </div>
            <div class="col-12">
              <div class="col-12 bg-danger">
                <span class="material-icons">warning</span>
                <span id="warn-text">Please make sure you entered your name, your email and left a message.</span>
              </div>
              <div class="col-12 bg-success">
                <span class="material-icons">check_circle</span>
                <span id="success-text">E-Mail sent successfully.</span>
              </div>
              <div id="sendButton" contenteditable="false">Send</div>
            </div>
          </div>
        </div>
      </article>

      <article id="emaildirect">
        <div class="section col-offset-2 col-8">
          <div class="sectionHeader">
            OR DIRECT EMAIL
          </div>
          <div class="spacer"></div>
          <div class="emailAddress">
            <script>decodeEmail()</script>
          </div>
          <div class="emailText">
            No matter how you decide to contact me, I'm confident that we can come to terms on any request or concern you might have.
          </div>
      </article>

    </div>
    <div id="footer">
      <div id="footerImageContainer">
        <div id="footerImage"></div>
      </div>
      <div id="backTop">BACK UP</div>
      <div class="cr">©Björn Friedrichs 2015</div>
    </div>

    <script src="{{ static_url('js/jquery-1.11.3.min.js') }}"></script>
    <script src="{{ static_url('js/helper.js') }}"></script>
    <script src="{{ static_url('js/main.js') }}"></script>
  </body>
</html>
